#intro-example {
    height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
        height: 600px;
    }
}

body {
    background-color: lightblue;
    background-image: url('../images/background.jpg');
    color: beige;
}

a {
    color: beige;
}

a:visited {
    color: silver;
}

a:hover, a:active, a:focus {
    color: silver;
}

.form-control {
    font-size: 20px;
    width: 45%;
}