@page
@using SunflowersBookingSystem.Services.Models.Users
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SunflowersBookingSystem.Services.Models;
@model AuthenticateRequestDto
@{  
    ViewData["Title"] = "Index";  
}

<div id="intro-example" class="p-5 text-center bg-image">    
    <div class="mask" style="background-color: rgba(0,0,0,0.5);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome to "Sunflowers"</h1>
                <h5 class="mb-4">
                    Best place to relax
                </h5>
                @if(!User.Identity.IsAuthenticated){
                    <a class="btn btn-outline-light btn-lg m-2" asp-page="/Users/Login"
                       role="button" rel="nofollow" >Login</a>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-light btn-lg m-2"
                   role="button" rel="nofollow" asp-controller="Users" asp-action="LogOut">Log out</a>
                    <a class="btn btn-outline-light btn-lg m-2" asp-controller="Users" asp-action="Profile"
                   asp-route-id="@int.Parse(HttpContext.User.Identities.First().Claims.First(c=>c.Type == "UserId").Value)" asp-va role="button">Profile</a>
                    <a class="btn btn-outline-light btn-lg m-2" href="#"
                        role="button">Make a reservation</a>
                }
            </div>
        </div>
    </div>


