@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SunflowersBookingSystem.Web.Models
@model RegisterViewModel
@{  
    ViewData["Title"] = "Index";  
}

<div id="loginForm">
    <form asp-controller="Users" asp-action="Authenticate" method="post">
        First Name:
        <input asp-for="FirstName" />
        Password:
        <input asp-for="Password" />
        <input type="submit" />
    </form>
</div>
