@page
@model SunflowersBookingSystem.Web.Pages.InformationPageModel
@{
}

@{
var splitMessage = Model.Message.Split(Environment.NewLine);
foreach (var line in splitMessage)
            {
                <h4>@line</h4>
                <br />
    }
}