@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SunflowersBookingSystem.Web.Models.UpdateProfileViewModel
@{
}

<div class="tab-content" style="margin-top:67px;">

    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form asp-controller="Users" asp-action="UpdatePost" method="post" enctype="multipart/form-data">

            <p class="text-center">Edit Profile:</p>

            <!-- Email input -->
            <div style="margin-left:35%" class="form-outline mb-4 align-self-center">
                <input required type="email" id="email" asp-for="Email" class="form-control" 
                value="@HttpContext.User.Identities.First().Claims.First(c=>c.Type == "Email").Value" />
                <label class="form-label" for="email">Email or username</label>
            </div>

            <!-- FirstName input -->
            <div style="margin-left:35%" class="form-outline mb-4 align-self-center">
                <input required type="text" id="firstName" asp-for="FirstName" class="form-control" />
                <label class="form-label" for="loginName">First name</label>
            </div>

            <!-- SecondName input -->
            <div style="margin-left:35%" class="form-outline mb-4 align-self-center">
                <input required type="text" id="secondName" asp-for="SecondName" class="form-control" />
                <label class="form-label" for="secondName">Second name</label>
            </div>

            <!-- Country input -->
            <div style="margin-left:35%" class="form-outline mb-4 align-self-center">
                <input type="text" id="country" asp-for="Country" class="form-control" />
                <label class="form-label" for="country">Country</label>
            </div>

            <!-- Phone input -->
            <div style="margin-left:35%" class="form-outline mb-4 align-self-center">
                <input type="text" id="phone" asp-for="Phone" class="form-control" />
                <label class="form-label" for="phone">Phone</label>
            </div>
                        
            <!-- Picture input -->

            <div style="margin-left:35%" class="form-outline mb-4">
                <label class="form-label" for="profilePicture">Profile Picture</label>
                <h6>Upload a different photo...</h6>
                <img class="profile-picture" src="~/images/profileDefault.png">
                <input id="profilePicture" asp-for="ProfilePicture"/>
            </div>

            <input class="hiding" type="hidden" asp-for="Id" value="@HttpContext.User.Claims.FirstOrDefault().Value" />

            <!-- Submit button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Edit</button>
            </div>           
        </form>
    </div>
