@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SunflowersBookingSystem.Web.Models
@model AuthenticateViewModel
@{  
    ViewData["Title"] = "Index";  
}
<!-- Pills content -->
<div class="tab-content" style="margin-top:67px;">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form asp-controller="Users" asp-action="Authenticate" method="post">

        <p class="text-center">Sign in with:</p>

      <!-- Email input -->
      <div style="margin-left:35%" class="form-outline mb-4 align-self-center">
        <input required type="email" id="email" asp-for="Email" class="form-control" />
        <label class="form-label" for="email">Email or username</label>
      </div>
      
      <!-- FirstName input -->
      <div style="margin-left:35%" class="form-outline mb-4 align-self-center">
        <input required type="text" id="firstName" asp-for="FirstName" class="form-control" />
        <label class="form-label" for="loginName">First name</label>
      </div>

      <!-- Password input -->
      <div style="margin-left:35%" class="form-outline mb-4">
        <input required type="password" id="loginPassword" asp-for="Password" class="form-control" />
        <label class="form-label" for="loginPassword">Password</label>
      </div>

      <!-- 2 column grid layout -->
      <div class="row mb-4">
        <div class="col-md-6 d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check mb-3 mb-md-0">
            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
            <label class="form-check-label" for="loginCheck"> Remember me </label>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->

            <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a asp-page="/Users/Register">Register</a></p>
      </div>
    </form>
  </div>
<!-- Pills content -->
@{
}
