@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SunflowersBookingSystem.Web.Pages.Users.ProfileModel
@{
    <a asp-controller="Users"
   asp-action="LogOut">LogOut</a>
<a class="btn btn-primary btn-lg" href="https://localhost:7173/api/v/Users/GetAll" role="button">GetAll</a>
}
