@page
@model SunflowersBookingSystem.Web.Pages.Users.ProfileModel
@{
    <a asp-controller="Users"
   asp-action="GetAll">Log Out</a>
<a class="btn btn-primary btn-lg" href="https://localhost:7173/api/v/Users/GetAll" role="button">GetAll</a>
}
